* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  .ct {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

  #stext {
    font-size: 1.5rem;
    color: #111111;
  }
  
  #text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
.con {
    background-color: #454545;
    padding: 1.5rem;
    border-radius: 12px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.4rem;
  }
  
  button:hover {
    background-color: #ddd;
  }


.out{

    display: flex;
    text-align: right;
    flex-direction: column;
    background-color: #e8f0f5;
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
}


#c, #b {
    font-size: 1.2rem;
    padding: 1rem;
    width: 48%;
    border-radius: 8px;
    margin-top: 0.5rem;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
  }
  
  #c:hover, #b:hover {
    background-color: #e04343;
  }


